---
import Container from "@components/container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Button } from "@components/ui/button";
import { ModeToggle } from "@components/modeToggle";
import { Picture } from "astro:assets";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "/" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  {
    title: "Tools",
    path: "/software",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blogs",
    path: "/blogs",
  },
];
---

<Container>
  <header
    class="flex flex-col lg:flex-row backdrop-blur z-50 justify-between items-center py-2 rounded-2xl lg:rounded-full left-1/2 px-2 md:px-6 fixed top-1 bg-background/20 border-b lg:w-[87%] w-11/12 mx-auto -translate-x-1/2"
    id="top">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <Picture
          height={20}
          width={20}
          src="/officialLogos/logo-base-256x256.png"
          alt="IndiaDevStack"
          class="size-8 duration-1000 hover:animate-spin"
        />
        <a href="/" class="text-lg"
          ><span class="font-bold">India</span><span
            class="text-muted-foreground">DEV</span
          >Stack
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-secondary-foreground" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
              <li>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 items-center hover:opacity-80">
                  <span> {item.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <ModeToggle client:idle />
          <Button> Submit </Button>
        </div>
      </MenuItems>
    </Astronav>
    <div class="hidden lg:flex items-center gap-4">
      <ModeToggle client:idle />
      <Button className="rounded-full"> Submit </Button>
    </div>
  </header>
</Container>
