<div class="grid grid-cols-3 min-h-[400px] gap-4 p-4 max-w-5xl mt-28 mx-auto">
  <div
    class="col-span-1 row-span-2 bg-amber-200 dark:bg-amber-800 rounded-xl p-4 flex flex-col justify-between">
    <div>
      <h2 class="text-xl font-semibold mb-2">Development</h2>
      <p class="text-sm">
        Tools and technologies we use to build your website.
      </p>
    </div>
  </div>

  <div class="col-span-1 dark:bg-pink-800 bg-pink-300 rounded-xl p-4">
    <div class="flex items-center mb-2">
      <h2 class="text-lg font-semibold">Design</h2>
    </div>
    <p class="text-sm">We use Figma to design your website.</p>
  </div>

  <div class="col-span-1 bg-green-200 dark:bg-green-800 rounded-xl p-4">
    <div class="flex items-center mb-2">
      <h2 class="text-lg font-semibold">Collaboration</h2>
    </div>
    <p class="text-sm">Tools required for collaboration.</p>
  </div>

  <div class="grid grid-cols-3 gap-4 col-span-2">
    <div class="col-span-2 bg-blue-200 dark:bg-blue-800 rounded-xl p-4">
      <div class="flex items-center mb-2">
        <h2 class="text-lg font-semibold">Hosting</h2>
      </div>
      <p class="text-sm">Tools required for hosting your website.</p>
    </div>
    <div class="col-span-1 bg-violet-200 dark:bg-violet-800 rounded-xl p-4">
      <div class="flex items-center mb-2">
        <h2 class="text-lg font-semibold">Security</h2>
      </div>
      <p class="text-sm">Tools required for security.</p>
    </div>
  </div>
</div>
