---
import { Image } from "astro:assets";
import Link from "./ui/link.astro";
import bg from "@assets/mesh-302.png";
import { Button } from "./ui/button";
---

<div class="relative p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <Image src={bg} alt="abstract" class="absolute inset-0 h-full w-full object-cover rounded-lg -z-10 brightness-90 saturate-150" />
  <h2 class="text-white text-4xl md:text-6xl tracking-tight font-bold">
    Build faster websites.
  </h2>
  <p class="text-white mt-4 text-lg md:text-xl">
    Pull content from anywhere and serve it fast with Astro's next-gen island
    architecture.
  </p>
  <div class="flex mt-5">
    <Button className="bg-white/20 shadow-md hover:bg-white/40 text-black backdrop-blur" size={"lg"}>Get Started</Button>
  </div>
</div>
